{% extends "base.html" %}
{% block content %}
<div id="entry_form">
  <img src="\static\heading002.png" class="rounded mx-auto d-block img-fluid" width="642" height="153">
  {# our method here is post because patch isn't allowed in html forms apparently #}
  <p id="p1">Welcome to APT CRM, your all-in-one solution for managing customer relationships.
     Our user-friendly platform allows you to easily track customer interactions, 
     manage sales pipelines, and analyze performance data to optimize your business strategies.
      With APT CRM, you can streamline your workflow, save time and effort, and focus on building
      long-lasting relationships with your customers. Our customizable dashboard and advanced 
      reporting features provide you with real-time insights and help you make informed decisions.
       Whether you're a small business owner or a large enterprise, APT CRM has the tools you 
       need to succeed. Start your free trial today and experience the power of APT CRM for yourself!</p>
</div>
{% endblock %}
