{% extends "base.html" %} 
{% block content %}
{% if session['email'] %}
<br><br>
<table id="home_table">
  <tr>
    <th style="width: 20%">Name</th>
    <th style="width: 25%">Company</th>
    <th style="width: 25%">Job Title</th>
    <th style="width: 10%">Phone</th>
    <th style="width: 10%">Status</th>
    <th style="width: 5%">Edit Link</th>
    <th style="width: 5%">Delete</th>
  </tr> 
{% for entry in data %}
<tr>
    <td> {{ entry['Name'] }} </td>
    <td> {{ entry['Company'] }} </td>
    <td> {{ entry['Job Title'] }} </td>
    <td> {{ entry['Phone'] }} </td>
    <td> {{ entry['Status'] }} </td>
    <td><a href="{{ url_for('web.entrypage', entryid=entry['_id']['$oid'])}}">edit</a></td>
    {# Should we tell it what the collection name is here? #}
    <td><a href="{{ url_for('web.delete_entry', entryid=entry['_id']['$oid']) }}">Delete</a></td>
</tr>
  {% endfor %}
</table>
{% else %}
<h1> Welcome!, Please login <a href="{{ url_for('web.login') }}">here.</a></h1>
{% endif %}
{% endblock %}