{% extends "base.html" %}
{% block content %}
<div id="entry_form">
  {# our method here is post because patch isn't allowed in html forms apparently #}
  <form method="post">
    {% for key in data['fields'] %}
      {% if key != '_id' %}
        <tr>
          <td><label for="{{ key }}"> {{ key }} </label></td>
          <td><input name="{{ key }}" type="text" value= "{{ data[key] }}"></td>
        </tr> 
      {% endif %}
    {% endfor %}
    <input class="btn btn-default" type="submit" value="Submit">
  </form>
</div>
{% endblock %}
